In [19]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data = "Resources/schools_complete.csv"
student_data = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data_df = pd.read_csv(school_data)
student_data_df= pd.read_csv(student_data)

# Combine the data into a single dataset.  
df = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])
print (df.head())

   Student ID       student_name gender grade        school_name  \
0           0       Paul Bradley      M   9th  Huang High School
1           1       Victor Smith      M  12th  Huang High School
2           2    Kevin Rodriguez      M  12th  Huang High School
3           3  Dr. Richard Scott      M  12th  Huang High School
4           4         Bonnie Ray      F   9th  Huang High School

   reading_score  math_score  School ID      type  size   budget
0             66          79          0  District  2917  1910635
1             94          61          0  District  2917  1910635
2             90          60          0  District  2917  1910635
3             67          58          0  District  2917  1910635
4             97          84          0  District  2917  1910635

In [30]:
#District Summary



#Calculate the total number of schools



a=len(school_data_df["school_name"])

#Calculate the total number of students

b=len(student_data_df["student_name"])

#Calculate the total budget

c=school_data_df["budget"].sum()

#Calculate the average math score

d=student_data_df["math_score"].mean()

#Calculate the average reading score

h=student_data_df["reading_score"].mean()

#Calculate the percentage of students with a passing math score (70 or greater)

e=(len(df[df["math_score"]>=70])) #number students passes/total number)
e=e/b*100



#Calculate the percentage of students with a passing reading score (70 or greater)
f=(len(df[df["reading_score"]>=70])) #number students passes/total number)
f=f/b*100

#Calculate the percentage of students who passed math and reading (% Overall Passing)
#g=df["reading_score"]+["math_score"]>=70 #total of passing math + total of passing reading
g=e+f/100

#Create a dataframe to hold the above results

#Optional: give the displayed data cleaner formatting
summary_df = pd.DataFrame({"Total Schools":[a],"Total Budget":[c],"Total Students":[b],"Average Math Score":[d],"Average Reading":[h],
                           "% Passing Math":[e],"% Reading Score":[f],"Overall Passing":[g],})
summary_df

,Total Schools,Total Budget,Total Students,Average Math Score,Average Reading,% Passing Math,% Reading Score,Overall Passing
0,15,24649428,39170,78.985371,81.87784,74.980853,85.805463,75.838907

In [64]:
#School Summary
#Create an overview table that summarizes key metrics about each school, including:

#School Name
i=school_data_df["school_name"]
print(i)

#School Type #go through each school name to find the type
j=school_data_df["type"]

#Total Students per school

L=school_data_df["size"]

#Total School Budget per school 
m=school_data_df["budget"]

#Per Student Budget per school
n=m/L

#Average Math Score

#Average Reading Score

#% Passing Math
#% Passing Reading

#% Overall Passing (The percentage of students that passed math and reading.)

school_summary_df=pd.DataFrame({"Type":[j],"Total Students":[L], "Budget per School":[m],"Budget per Student":[n]})
school_summary_df
#Create a dataframe to hold the above results

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
Name: school_name, dtype: object

,Type,Total Students,Budget per School,Budget per Student
0,0 District 1 District 2 Charter 3...,0 2917 1 2949 2 1761 3 4635 4 ...,0 1910635 1 1884411 2 1056600 3 ...,0 655.0 1 639.0 2 600.0 3 652....

In [ ]:
#Math Scores by Grade
#Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

#Create a pandas series for each grade. Hint: use a conditional statement.

#Group each series by school

#Combine the series into a dataframe

#Optional: give the displayed data cleaner formatting