In [24]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data = "Resources/schools_complete.csv"
student_data = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data_df = pd.read_csv(school_data)
student_data_df= pd.read_csv(student_data)

# Combine the data into a single dataset.  
df = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])
print (df.head())

   Student ID       student_name gender grade        school_name  \
0           0       Paul Bradley      M   9th  Huang High School
1           1       Victor Smith      M  12th  Huang High School
2           2    Kevin Rodriguez      M  12th  Huang High School
3           3  Dr. Richard Scott      M  12th  Huang High School
4           4         Bonnie Ray      F   9th  Huang High School

   reading_score  math_score  School ID      type  size   budget
0             66          79          0  District  2917  1910635
1             94          61          0  District  2917  1910635
2             90          60          0  District  2917  1910635
3             67          58          0  District  2917  1910635
4             97          84          0  District  2917  1910635

In [25]:
#District Summary

#Calculate the total number of schools

a=len(school_data_df["school_name"])

#Calculate the total number of students

b=len(student_data_df["student_name"])

#Calculate the total budget

c=school_data_df["budget"].sum()

#Calculate the average math score

d=student_data_df["math_score"].mean()

#Calculate the average reading score

h=student_data_df["reading_score"].mean()

#Calculate the percentage of students with a passing math score (70 or greater)

e=(len(df[df["math_score"]>=70])) #number students passes/total number)
#e=e/b*100


#Calculate the percentage of students with a passing reading score (70 or greater)
f=(len(df[df["reading_score"]>=70]))
f=f/b*100
   
#Calculate the percentage of students who passed math and reading (% Overall Passing)
#g=df["reading_score"]+["math_score"]>=70 #total of passing math + total of passing reading
g=e+f/100

#Create a dataframe to hold the above results

#Optional: give the displayed data cleaner formatting
summary_df = pd.DataFrame({"Total Schools":[a],"Total Budget":[c],"Total Students":[b],"Average Math Score":[d],"Average Reading":[h],
                           "% Passing Math":[e],"% Reading Score":[f],"Overall Passing":[g],})
summary_df

,Total Schools,Total Budget,Total Students,Average Math Score,Average Reading,% Passing Math,% Reading Score,Overall Passing
0,15,24649428,39170,78.985371,81.87784,29370,85.805463,29370.858055

In [26]:
#School Summary
#Create an overview table that summarizes key metrics about each school, including:

#School Name
#School Type #go through each school name to find the type
#Total Students per school
#Total School Budget per school

school_data_df.columns
school_summary_df = school_data_df[["school_name","type","size","budget",]]
school_df=school_summary_df.set_index("school_name")
#school_df.head()
#school_df=school_summary.set_index("school_name")

In [27]:
#Per Student Budget per school- take budget per school divide by size
student_budget_df = pd.DataFrame(columns=["budget","size"])
i=student_budget_df["budget"]/student_budget_df["size"]

In [28]:
# Get the average of each column within the GroupBy object

#average of the math score per school
per_school_math_df = df.groupby(["school_name"]).mean()["math_score"]
j=per_school_math_df                       

#Average Reading Score
# Get the average of each column within the GroupBy object
per_school_read_df = df.groupby(["school_name"]).mean()["reading_score"]
k=per_school_read_df

In [29]:
#% Passing Math per school
#total passing per school - total first over = or >70/ size of the school

per_school_math_df = pd.DataFrame([columns["math_score"]>=70])
#pd.DataFrame(columns=["budget","size"])
#student_budget_df=df["budget"]/student_budget_df["size"]
#per_school_math_df=df[columns["reading_score"]>=70]
#per_math_df=per_school_math_df/["size"]
per_school_math_df

#percent_math_df = df.groupby(["math_score"])>=70["size"]
#percent_math_df
   

#% Passing Reading
#percent_read_df = school_data_df["size"]/[f]
#percent_read_df

NameError: name 'columns' is not defined

In [30]:
#% Overall Passing (The percentage of students that passed math and reading.)
overall_df=percent_math_df+percent_read_df*100
overall_df

NameError: name 'percent_math_df' is not defined

In [31]:
school_summary_df=pd.DataFrame({"Type":["type"],"Total Students":["size"], "Budget per School":["budget"],"Budget per Student":[i],
                                "Average Math Score":[j],"Average Reading Score":[k],"% Passing Math":[percent_math],
                                "% Passing Reading":[percent_read],"% Overall Passing":[overall]})
school_summary_df.head(5)

#Create a dataframe to hold the above results

NameError: name 'percent_math' is not defined

In [43]:
#Sort and display the top five performing schools by % overall passing.
top_five_df=df.sort_values("% Overall Passing", ascending="False")
top_five_df.head(5)

KeyError: '% Overall Passing'

In [13]:
#Sort and display the five worst-performing schools by % overall passing.
top_five_df=df.sort_values("% Overall Passing")
top_five_df.head(5)

In [44]:
#Math Scores by Grade
#Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.
grades_df = pd.DataFrame({"9th","10th","11th","12th})
grades_df["grade"].unique()
#grades_df = df.groupby(["grade"]).mean()["reading"]
grades_df

SyntaxError: EOL while scanning string literal (<ipython-input-44-f0f46f38cb55>, line 3)

In [ ]:
#Create a pandas series for each grade. Hint: use a conditional statement.

In [58]:
#Group each series by school
school_data_df.columns
grade_summary_df = school_data_df.groupby(["school_name"])
#school_data_df=grade_summary_df.set_index("school_name")
df.head()
#school_data_df.columns
#school_summary_df = school_data_df[["school_name","type","size","budget",]]
#school_df=school_summary_df.set_index("school_name")

,Student ID,student_name,gender,grade,reading_score,math_score,School ID,type,size,budget
school_name,,,,,,,,,,
Huang High School,0,Paul Bradley,M,9th,66,79,0,District,2917,1910635
Huang High School,1,Victor Smith,M,12th,94,61,0,District,2917,1910635
Huang High School,2,Kevin Rodriguez,M,12th,90,60,0,District,2917,1910635
Huang High School,3,Dr. Richard Scott,M,12th,67,58,0,District,2917,1910635
Huang High School,4,Bonnie Ray,F,9th,97,84,0,District,2917,1910635

In [71]:
#only want to show data from grades and schools
grades_df= grade_summary_df.loc([grade_summary_df["school_name"] == "grade" :])
grades_df.head()

SyntaxError: invalid syntax (<ipython-input-71-4ab4da8124f8>, line 2)

In [55]:
#Combine the series into a dataframe

In [ ]:
#Optional: give the displayed data cleaner formatting

In [15]:
#Reading Score by Grade
#Perform the same operations as above for reading scores

In [16]:
#3 more modules- holy shit