In [172]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data = "Resources/schools_complete.csv"
student_data = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data_df = pd.read_csv(school_data)
student_data_df= pd.read_csv(student_data)

# Combine the data into a single dataset.  
df = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])
print (df.head())

   Student ID       student_name gender grade        school_name  \
0           0       Paul Bradley      M   9th  Huang High School
1           1       Victor Smith      M  12th  Huang High School
2           2    Kevin Rodriguez      M  12th  Huang High School
3           3  Dr. Richard Scott      M  12th  Huang High School
4           4         Bonnie Ray      F   9th  Huang High School

   reading_score  math_score  School ID      type  size   budget
0             66          79          0  District  2917  1910635
1             94          61          0  District  2917  1910635
2             90          60          0  District  2917  1910635
3             67          58          0  District  2917  1910635
4             97          84          0  District  2917  1910635

In [173]:
#District Summary

#Calculate the total number of schools

a=len(school_data_df["school_name"])

#Calculate the total number of students

b=len(student_data_df["student_name"])

#Calculate the total budget

c=school_data_df["budget"].sum()

#Calculate the average math score

d=student_data_df["math_score"].mean()

#Calculate the average reading score

h=student_data_df["reading_score"].mean()

#Calculate the percentage of students with a passing math score (70 or greater)

e=(len(df[df["math_score"]>=70])) #number students passes/total number)
e=e/b*100


#Calculate the percentage of students with a passing reading score (70 or greater)
f=(len(df[df["reading_score"]>=70]))
f=f/b*100
   
#Calculate the percentage of students who passed math and reading (% Overall Passing)
#g=df["reading_score"]+["math_score"]>=70 #total of passing math + total of passing reading
g=e+f/100

#Create a dataframe to hold the above results

#Optional: give the displayed data cleaner formatting
summary_df = pd.DataFrame({"Total Schools":[a],"Total Budget":[c],"Total Students":[b],"Average Math Score":[d],"Average Reading":[h],
                           "% Passing Math":[e],"% Reading Score":[f],"Overall Passing":[g],})
summary_df

,Total Schools,Total Budget,Total Students,Average Math Score,Average Reading,% Passing Math,% Reading Score,Overall Passing
0,15,24649428,39170,78.985371,81.87784,74.980853,85.805463,75.838907

In [174]:
#School Summary
#Create an overview table that summarizes key metrics about each school, including:

#School Name
#School Type #go through each school name to find the type
#Total Students per school
#Total School Budget per school

school_data_df.columns
school_summary_df = school_data_df[["school_name","type","size","budget",]]
school_df=school_summary_df.set_index("school_name")
school_df.head()
#school_df=school_summary.set_index("school_name")
#school_summary_df = school_data_df[["school_name","type","size","budget",]]

                           type  size   budget
school_name
Huang High School      District  2917  1910635
Figueroa High School   District  2949  1884411
Shelton High School     Charter  1761  1056600
Hernandez High School  District  4635  3022020
Griffin High School     Charter  1468   917500

In [175]:
#Per Student Budget per school- take budget per school divide by size

student_budget_df=row[0],("budget")/row[0],("size")
#i

#student_budget_df = pd.DataFrame(columns=["budget","size"])

IndexError: list index out of range

In [176]:
# Get the average of each column within the GroupBy object

#average of the math score per school
per_school_math_df = df.groupby(["school_name"]).mean()["math_score"]
math_df=per_school_math_df
j=math_df
j

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [177]:
#Average Reading Score
# Get the average of each column within the GroupBy object
per_school_read_df = df.groupby(["school_name"]).mean()["reading_score"]
k=per_school_read_df
k

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [189]:
#% Passing Math per school
#out of population of students how many passed-%

per_school_math_df=df["size"]/ df["math_score"]
l=per_school_math_df[(df["math_score"] >= 70)]
#l = df[(df["math_score"] >= 70)]*100
print(l)

#row =[]
#per_school_math_df=[df["math_score"]>=70]
#per_school_math_df=per_school_math_df["math_score"]>=70
#per_school_math_df=per_school_math_df(row[0],["math_score"]/row[0],["size"])
#l= per_school_math_df[(df["math_score"] >= 70)]*100

#per_school_math_df[(per_school_math["math_score"] >= 70)].count

#pd.DataFrame(columns=["budget","size"])
#student_budget_df=df["budget"]/student_budget_df["size"]
#per_school_math_df=df[columns["reading_score"]>=70]
#per_math_df=per_school_math_df/["size"]
#df

0        36.924051
4        34.726190
5        31.031915
6        36.462500
8        33.528736
           ...
39165    18.166667
39166    23.357143
39167    19.464286
39168    18.166667
39169    21.800000
Length: 29370, dtype: float64

In [179]:
#% Passing Reading

per_school_reading_df=df["size"]/df["reading_score"]
m = per_school_reading_df[(df["reading_score"] >= 70)]
print(m)
#percent_read_df = school_data_df["size"]/[f]
#percent_read_df

1        31.031915
2        32.411111
4        30.072165
5        31.031915
6        35.573171
           ...
39165    16.515152
39166    17.210526
39167    22.397260
39168    16.515152
39169    17.210526
Length: 33610, dtype: float64

In [180]:
#% Overall Passing (The percentage of students that passed math and reading.)
#overall_df=overall_df
n=l+m/100
print(n)
#overall_df

0              NaN
1              NaN
2              NaN
4        35.026912
5        31.342234
           ...
39165    18.331818
39166    23.529248
39167    19.688258
39168    18.331818
39169    21.972105
Length: 37452, dtype: float64

In [192]:
schoolsum_df.columns
schoolsum_df=pd.DataFrame({"Type":'type',"Total Students":'size', "Budget per School": 'budget',"Budget per Student":[i],
                                "Average Math Score":[j],"Average Reading Score":[k],"% Passing Math":[l],
                                "% Passing Reading":[m],"% Overall Passing":[n]})
schoolsum_df.head(10)

#Create a dataframe to hold the above results

,Type,Total Students,Budget per School,Budget per Student,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,type,size,budget,"Series([], dtype: object)",school_name Bailey High School 77.048432...,school_name Bailey High School 81.033963...,0 36.924051 4 34.726190 5 ...,1 31.031915 2 32.411111 4 ...,0 NaN 1 NaN 2 ...

In [103]:
#Sort and display the top five performing schools by % overall passing.
#top_five_df=df.sort_values("% Overall Passing", ascending="False")
#top_five_df.head(5)

In [104]:
#Sort and display the five worst-performing schools by % overall passing.
#top_five_df=df.sort_values("% Overall Passing")
#top_five_df.head(5)

In [105]:
#Math Scores by Grade
#Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.
#grades_df = pd.DataFrame({"9th","10th","11th","12th})
#grades_df["grade"].unique()
#grades_df = df.groupby(["grade"]).mean()["reading"]
#grades_df

In [106]:
#Create a pandas series for each grade. Hint: use a conditional statement.
#series =pd.Series(df1,index=["school name"])
#print(series)

In [109]:
#only want to show data from grades and schools
#grades_df= grade_summary_df.loc([grade_summary_df["school_name"] == "grade" :])
#grades_df.head()

In [55]:
#Combine the series into a dataframe

In [ ]:
#Optional: give the displayed data cleaner formatting

In [15]:
#Reading Score by Grade
#Perform the same operations as above for reading scores

In [16]:
#3 more modules- holy shit