In [39]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data = "Resources/schools_complete.csv"
student_data = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data_df = pd.read_csv(school_data)
student_data_df= pd.read_csv(student_data)

# Combine the data into a single dataset.  
merge_df = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])
print (merge_df.head())

   Student ID       student_name gender grade        school_name  \
0           0       Paul Bradley      M   9th  Huang High School
1           1       Victor Smith      M  12th  Huang High School
2           2    Kevin Rodriguez      M  12th  Huang High School
3           3  Dr. Richard Scott      M  12th  Huang High School
4           4         Bonnie Ray      F   9th  Huang High School

   reading_score  math_score  School ID      type  size   budget
0             66          79          0  District  2917  1910635
1             94          61          0  District  2917  1910635
2             90          60          0  District  2917  1910635
3             67          58          0  District  2917  1910635
4             97          84          0  District  2917  1910635

In [40]:
#District Summary



#Calculate the total number of schools



a=len(school_data_df["school_name"])

#Calculate the total number of students

b=len(student_data_df["student_name"])

#Calculate the total budget

c=school_data_df["budget"].sum()

#Calculate the average math score

d=student_data_df["math_score"].mean()

#Calculate the average reading score

h=student_data_df["reading_score"].mean()

#Calculate the percentage of students with a passing math score (70 or greater)

e=(len(df[df["math_score"]>=70])) #number students passes/total number)
e=e/b*100



#Calculate the percentage of students with a passing reading score (70 or greater)
f=(len(df[df["reading_score"]>=70])) #number students passes/total number)
f=f/b*100

#Calculate the percentage of students who passed math and reading (% Overall Passing)
#g=df["reading_score"]+["math_score"]>=70 #total of passing math + total of passing reading
g=e+f/100

#Create a dataframe to hold the above results

#Optional: give the displayed data cleaner formatting
summary_df = pd.DataFrame({"Total Schools":[a],"Total Budget":[c],"Total Students":[b],"Average Math Score":[d],"Average Reading":[h],
                           "% Passing Math":[e],"% Reading Score":[f],"Overall Passing":[g],})
summary_df

,Total Schools,Total Budget,Total Students,Average Math Score,Average Reading,% Passing Math,% Reading Score,Overall Passing
0,15,24649428,39170,78.985371,81.87784,74.980853,85.805463,75.838907

In [67]:
#School Summary
#Create an overview table that summarizes key metrics about each school, including:

#School Name
#School Type #go through each school name to find the type
#Total Students per school
#Total School Budget per school

school_data_df.columns
school_summary_df = school_data_df[["school_name","type","size","budget",]]
school_df=school_summary_df.set_index("school_name")
school_df.head()
#school_df=school_summary.set_index("school_name")


#Per Student Budget per school- take budget per school divide by size
#school_data_df={axis=1,"budget" / [axis=1,"size"}
#df.div("budget"/"size")
#df

#Average Math Score

# Get the average of each column within the GroupBy object
#math score per school
#average of the math score per school
per_school_math_df = merge_df.groupby(["school_name"]).mean()["math_score"]
per_school_math_df

#Average Reading Score
# Get the average of each column within the GroupBy object

#% Passing Math 


#% Passing Reading

#% Overall Passing (The percentage of students that passed math and reading.)

#school_summary_df=pd.DataFrame({"Type":[j],"Total Students":[L], "Budget per School":[m],"Budget per Student":[n]})
#school_summary_df.head(5)

#Create a dataframe to hold the above results

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [63]:
#Sort and display the top five performing schools by % overall passing.

In [ ]:
#Sort and display the five worst-performing schools by % overall passing.

In [ ]:
#Math Scores by Grade
#Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

#Create a pandas series for each grade. Hint: use a conditional statement.

#Group each series by school

#Combine the series into a dataframe

#Optional: give the displayed data cleaner formatting

In [ ]:
#Reading Score by Grade
#Perform the same operations as above for reading scores

In [ ]:
#3 more modules- holy shit